<div class="row project-header">
	<div class="col-xs-12">

		<!-- Project Title -->		
		<div class="project-title">
			<% if('logo' in project) { %>
				<img src="static/<%= project.key %>/<%= project.logo %>" 
					alt="<%= project.name %>-logo" style="height: 64px">
			<% } %>
			<%= project.title %>
			<% if('version' in project) { %>
				<span class="project-version"><%= project.version %></span>
			<% } %>
		</div>
		<!-- #/.project-title -->
		
		<!-- Project Types -->
		<div class="project-types">
			<% project.types.forEach(function(type) { %>
				<span class="project-type"><%= type %></span>
			<% }); %>
		</div>
		<!-- #/..project-types -->

	</div>
</div>
