<% models.Projects.sortedTypes.forEach(function(type) { 
		var ids = models.Projects.types[type]; 
%>
<section id="other-projects">
	<h1>
		<%= type %>
		<small>(<%= ids.length %>) projects</small>
	</h1>
	
	<% ids.forEach(function(id) { 
			var project = models.Projects[id];
			var image = project.images[0];
	%>
	<div class="thumbnail">
		<img src="static/<%= id + '/' + image.src %>" alt="<%= image.alt || '' %>">
		<div class="caption">
			<h3><%= project.name %></h3>
			<p><%= project.story %></p>
			<p>
				<a href="#" class="btn btn-primary" role="button">Button</a> 
				<a href="#" class="btn btn-default" role="button">Button</a>
			</p>
		</div>
	</div>
	<% }) %>
</section>
<% }); %>