<% models.ProjectInfo.types.forEach(function(type) { %>
<section id="other-projects">
	<h1>
		<%= type.name %>
		<small>(<%= type.count %>) projects</small>
	</h1>
	
	<% type.projects.forEach(function(project) {
			const image = project.images[0];
	%>
	<div class="thumbnail">
		<img src="static/<%= project.key %>/<%= image.src %>" alt="<%= image.alt || '' %>">
		<div class="caption">
			<h4><%= project.title %></h4>
			<p><%= project.story %></p>
			<p>
				<a href="#" class="btn btn-primary" role="button">Button</a> 
				<a href="#" class="btn btn-default" role="button">Button</a>
			</p>
		</div>
	</div>
	<% }) %>
</section>
<% }); %>